!.gitignore

homeassistant/*
!homeassistant/automations.yaml
!homeassistant/configuration.yaml
!homeassistant/scenes.yaml
!homeassistant/scripts.yaml

mosquitto/*
!mosquitto/config/mosquitto.conf

node_red/*

portainer/*

zigbee2mqtt/*

!zigbee2mqtt/configuration.yaml