!.gitignore

homeassistant/*
!homeassistant/automations.yaml
!homeassistant/configuration.yaml
!homeassistant/scenes.yaml
!homeassistant/scripts.yaml

mosquitto/*
!mosquitto/config/mosquitto.conf

node_red/*

portainer/*

zigbee2mqtt/*

!zigbee2mqtt/configuration.yaml

matter-server/*

netdata/*

pihole/*
!pihole/adlists.list
!pihole/customg.list

nginx_proxy_manager/*
!nginx_proxy_manager/data/nginx/proxy_host/*.conf
